.wrapper {
	text-align: center;
}

body {
	padding-top: 60px;
}
header {
	background: blue;
	font-size: 75px;
	position: fixed;
	width: 100%;
	top: 0;
	transition: background 2s;
}

.header-offset {
	background: red;
	font-size: 30px;
}