body {
	width: 100%;
	margin: 0 auto;
	background-color: #385991;
	font-family: 'Noto Serif', serif;
	font-size: 13px;
	padding: 0;
}

nav {
	padding: 0 80px;
	background-color: #385991;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1;
}


.nav-image img {
	padding: 10px;
	transition: width 4s;
}

.nav-image-offset img {
	width: 50%;
}

#nav-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-links li {
	display: inline;
}

.nav-links {
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	padding-top: 30px;
	transition: padding 0.5s;
}

.nav-links-offset {
	padding-top: 15px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	padding: 0 20px;
}

#nav-footer a {
	width: 445px;
	display: inline;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;
	padding: 0 20px;
}


.nav-links a:hover, #nav-footer a:hover {
	color: #e29f45;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#ctaButton {
	padding: 10px 20px;
	background-color: #e29f45;
	font-size: 14px;
	border: none;
	color: white;
	border-radius: 4px;
	font-family: Roboto;
	margin-left: 20px;
}

#ctaButton:hover {
	cursor: pointer;
	background-color: #c87910;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

main, section, footer {
	box-sizing: border-box;

}

main {
	height: 200px;
	margin: 0;
	width: 100%;
	background-image: url("../img/event-header.jpg");
	background-position: center center;
}



section {
	width: 100%;
	background-color: #eff2f4;
	padding: 40px 80px;
}

section p {
	margin: 0;
	color: black;
	font-family: 'Noto Serif', serif;
	padding-bottom: 2px;
}

/*Main Section Titles*/
section h1, footer h1 {
	margin: 0;
	padding-bottom: 15px;
	font-family: 'Fjalla One', sans-serif;
	color: #3bbfbb;
	font-size: 27px;
}

/*Main Headlines*/
section h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	color: white;
	letter-spacing: .5px;
	margin: 10px;
	text-align: center;
}

h2 a {
	color: white;
	text-decoration: none;
}

/*Boroughs*/
h3  {
	font-family: 'Fjalla One', sans-serif;
	font-size: 13px;
	color: white;
	letter-spacing: .5px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #3bbfbb;	
	margin: 0;
}

#map {
	width: 100%;
	height: 300px;
	margin: 20px 0;
	background-color: pink;
}

#filter-links {
	margin: 5px 0 10px 0;
	width: 100%;
	display: flex;

}

#filters {
	margin: 0;
	padding: 0;
}

#filters a {
	font-family: 'Fjalla One', sans-serif;
	color: #8d348f;
	text-decoration: none;
	margin-right: 10px;
	font-size: 14px;
	padding-bottom: 3px;

}

#filters a:hover {
	border-bottom: solid 2px #8d348f;
}

#filters li {
	display: inline;
}

.container1 {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: auto;
}

.event-block {
	width: 30%;
	margin: 5px 10px;
	position: relative;
	overflow: hidden;
	float: left;
}

.event-block img {
	width: 100%;
  -moz-transition: all 0.4s;
  -webkit-transition4 all 0.4s;
  transition: all 0.3s;
}

.event-block img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.queens {
	background-color: #30bfbb;
}

.manhattan {
	background-color: #c94941;
}

.brooklyn {
	background-color: #e29f45;
}
.event-description {
	background-color: #eff2f4;
}

.price {
	color: #385993;
	font-family: 'Fjalla One', sans-serif;
	font-size: 12px;
}

footer {
	width: 100%;
	padding: 40px 80px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#about-footer {
	width: 60%;
}

footer p {
	margin: 0;
	color: white;
	font-size: 13px;
	line-height: 21px;
	font-family: 'Noto Serif', serif;
}

.nav-footer {
	width: 40%;
	padding-top: 48px;

}

#nav-footer {
	list-style: none;
	text-align: right;
	line-height: 26px;
}

#nav-footer #cta-link-footer {
	color: #e29f45;
}



/*media queries*/

/*@media (max-width: 900px) {
	.container1, .container2, .container3, .container4, .container5 {
		justify-content: space-between;
		padding: 0;
	}
}*/

@media (max-width: 870px) {
	section {
		padding: 5px 0;
	}
}

@media (max-width: 700px) {
	nav {
		display: block;
		margin: 0 auto;
		position: static;
	}

	body {
		padding-top: 0;
	}

	.nav-image {
		text-align: center;
	}

	.nav-links {
		padding: 0;
		text-align: center; 
	}

	#nav-links {
		padding-bottom: 15px;
	}

}

@media (max-width: 595px) {
	#nav-links li {
		display: block;
		margin: 10px;
	}

	#ctaButton {
		margin: 0;
	}
}

@media (max-width: 480px) {
	.container1 {
		display: block;
	}

	.event-block {
		width: 100%;
		margin: 20px 0;
	}
}

/*media query for footer*/
@media (max-width: 700px) {
	footer {
		display: block;
		padding: 40px 10px;

	}

	#about-footer {
		width: 100%;
	}

	#nav-footer {
		padding: 0;
		margin-top: 25px;
	}

	#nav-footer {
		text-align: left;
		padding: 0;
		width: 100%
	}

	#nav-footer li {
		display: inline;

	}

	#nav-footer a {
		padding-left: 0;
		padding-right: 20px;
	}
}


