body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Noto Serif', serif;
	font-size: 13px;
	padding-top: 88px;
}

nav {
	padding: 0 80px;
	background-color: #385991;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1;
}


.nav-image img {
	padding: 10px;
	transition: width 2s;
}

.nav-image-offset img {
	width: 50%;
}

#nav-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-links li {
	display: inline;
}

.nav-links {
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	padding-top: 30px;
	transition: padding 0.5s;
}

.nav-links-offset {
	padding-top: 15px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	padding: 0 20px;
}

#nav-footer a {
	width: 445px;
	display: inline;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;
	padding: 0 20px;
}


.nav-links a:hover, #nav-footer a:hover {
	color: #e29f45;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#ctaButton {
	padding: 10px 20px;
	background-color: #e29f45;
	font-size: 14px;
	border: none;
	color: white;
	border-radius: 4px;
	font-family: Roboto;
	margin-left: 20px;
}

#ctaButton:hover {
	cursor: pointer;
	background-color: #c87910;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

main {
	height: 400px;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	background-image: url("../img/mainbg.jpg");
	background-position: center center;
}

main p {
	margin: 0;
	padding: 120px 100px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 56px;
	color: white;
	text-align: center;
}

section {
	width: 100%;
	background-color: #eff2f4;
	padding: 40px 80px;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;

}

section h1, footer h1 {
	margin: 0;
	padding-bottom: 15px;
	font-family: 'Fjalla One', sans-serif;
	color: #3bbfbb;
	font-size: 27px;
}



.newsblock {
	width: 30%;
	border-radius: 5px;
	height: 50%px;
	background-color: #8d348f;
	box-sizing: border-box;
}

.newsblock img {
	width: 100%;
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.news-container {
	padding: 10px 16px;

}


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

section h2 {
	margin: 5px 0 10px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	letter-spacing: .4px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(255,255,255,.2);
}

h3 a {
	font-family: 'Fjalla One', sans-serif;
	font-size: 13px;
	color: white;
	letter-spacing: .5px;
	margin-top: 20px;
	color: #3bbfbb;	
	text-decoration: none;
}

h3 a:hover {
	color: white;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.spotlight {
	margin: 40px 0;
	width: 100%;
}

.spotlight-container {
	width: 100%;
	display: flex;
	background-color: #c94941;
	border-radius: 4px;
	padding: 0;
}

#spotlight-img {
	margin: 0;
	padding: 0;
	width: 40%;
/*	overflow: hidden;*/
	background-image: url("../img/amanda.jpg");
	background-position: top center;
}


#spotlight-bio {
	width: 60%;
	padding: 10px 20px 30px 20px;
	box-sizing: border-box;

}

#spotlight-bio a {
	padding-left: 5px;
}

#spotlight-bio h2 {
	margin: 5px 0 10px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	letter-spacing: .4px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(255,255,255,.2);
}

.fa {
	color: white;
}

.fa:hover {
	color: #e29f45;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


footer {
	width: 100%;
	padding: 40px 80px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #385991;
}

#about-footer {
	width: 60%;
}

footer p, section p, .spotlight p {
	margin: 0;
	color: white;
	font-size: 13px;
	line-height: 21px;
	font-family: 'Noto Serif', serif;
}

.nav-footer {
	width: 40%;
	padding-top: 48px;

}

#nav-footer {
	list-style: none;
	text-align: right;
	line-height: 26px;
}

#nav-footer #cta-link-footer {
	color: #e29f45;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
	section {
		padding: 5px 0;
	}
}

@media (max-width: 700px) {
	nav {
		display: block;
		margin: 0 auto;
		position: static;
	}

	body {
		padding-top: 0;
	}

	.nav-image {
		text-align: center;
	}

	.nav-links {
		padding: 0;
		text-align: center; 
	}

	#nav-links {
		padding-bottom: 15px;
	}

}

@media (max-width: 595px) {
	#nav-links li {
		display: block;
		margin: 10px;
	}

	#ctaButton {
		margin: 0;
	}

	.spotlight-container {
		display: block;
		width: 100%;
	}

	#spotlight-bio {
		width: 100%;
	}

	#spotlight-img {
		width: 100%;
		height: 300px;
	}
}

@media (max-width: 900px) {
	main {
		height: 250px;
	}

	main p {
		font-size: 42px;
		margin: 0 auto;
		padding: 80px 0;
	}

	.container {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}

	.newsblock {
		margin-bottom: 20px;
		width: 100%;
	}

	section {
		padding: 10px;
	}
}


@media (max-width: 500px) {
	main p {
		font-size: 36px;
		padding: 60px 0px;
	}

}

@media (max-width: 700px) {
	footer {
		display: block;
		padding: 40px 10px;

	}

	#about-footer {
		width: 100%;
	}

	#nav-footer {
		padding: 0;
		margin-top: 25px;
	}

	#nav-footer {
		text-align: left;
		padding: 0;
		width: 100%
	}

	#nav-footer li {
		display: inline;

	}

	#nav-footer a {
		padding-left: 0;
		padding-right: 20px;
	}
}



